<div class="maincontainer">
  <div class="tiles">tiles
    <ng-container *ngFor="let item of boxes ">
    <div class="parenttile">
      <ng-container *ngFor="let inneritem of item">
        <div class="child">{{inneritem.key}}</div>
      </ng-container>
    </div>
    </ng-container>
  </div>
  <div class="keybored">
    <ng-container *ngFor="let keyes of keyboard ">
      <ng-container *ngIf="keyes.key ==='ENTER'" style="width:90px">
        <button style="width:90px" (click)="HandleChange(keyes.key)">{{keyes.key}}</button>
      </ng-container>
      <ng-container *ngIf="keyes.key === 'BACKSPACE'" style="width:90px">
       <button style="width:90px" (click)="HandleChange(keyes.key)"> {{keyes.key}}</button>
      </ng-container>
      <ng-container *ngIf="keyes.key !== 'ENTER'&& keyes.key!== 'BACKSPACE'">
       <button (click)="HandleChange(keyes.key)">{{keyes.key}}</button>
      </ng-container>
    </ng-container>
  </div>
</div>